<select class="form-select" aria-label="Default select example"
[(ngModel)]="selectedProduct"
(change)="getProductArray()">
  <option selected>Open this select menu</option>
  <option *ngFor="let product of productArray" [value]="product.value">{{product.name}}</option>
</select>

{{selectedProduct}}
<div *ngFor="let brands of selectedArray.brands">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [checked]="brands.isSelected" id="flexCheckDefault" (change)="brands.isSelected = !brands.isSelected">
    <label class="form-check-label" for="flexCheckDefault">
      {{brands.name}}
    </label>
  </div>
</div>
<router-outlet></router-outlet>
